@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 84 18% 94%;
    --foreground: 224 71% 4%;
    --card: 84 18% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 84 18% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 88 25% 60%;
    --primary-foreground: 88 25% 15%;
    --secondary: 178 18% 88%;
    --secondary-foreground: 178 18% 20%;
    --muted: 178 18% 90%;
    --muted-foreground: 224 71% 25%;
    --accent: 178 18% 54%;
    --accent-foreground: 178 18% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 15% 85%;
    --input: 88 15% 88%;
    --ring: 88 25% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 10% 10%;
    --foreground: 0 0% 98%;
    --card: 224 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 224 10% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 88 25% 60%;
    --primary-foreground: 88 25% 15%;
    --secondary: 178 18% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 178 18% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 178 18% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 18% 25%;
    --input: 178 18% 20%;
    --ring: 88 25% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
