@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 13% 94%; /* very light olive #F0F2EA */
    --foreground: 0 0% 9%; /* gray-900 */
    --card: 0 0% 100%; /* white */
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 80 20% 60%; /* light olive #A2B38B */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%; /* gray-100 */
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%; /* gray-100 */
    --muted-foreground: 0 0% 45.1%; /* gray-500 */
    --accent: 178 20% 54%; /* desaturated cyan #73A3A1 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%; /* gray-200 */
    --input: 0 0% 83.1%; /* gray-300 */
    --ring: 80 20% 60%;
    --radius: 0.75rem; /* rounded-xl */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-input:checked ~ .accordion-content {
    max-height: 500px;
}

.accordion-input:checked + .accordion-label .accordion-arrow {
    transform: rotate(180deg);
}
